/.vscode/
/build/
/docs/
/Win32-release/
/Doxyfile
/Wrapper.sh
/include/HMCDCore/HMCD-Core_Version.h
/src/HMCD-CLI/HMCD-CLI_Version.h
/hmcd-clone-and-build.sh
/hmcd-clone-and-build.cmd
/build-win-release.sh
